.home {
    background-color: rgba(238, 238, 238, 1);
    position: relative;
    width: 100vw;
    overflow: hidden;

    .section_1 {
        width: 100vw;
        position: relative;
        margin-top: 7.73vw;

        .banner {
            width: 92.8vw;
            height: 75.2vw;
            position: absolute;
            top: 4.53vw;
            left: 34.93vw;
        }

        .homeIcon {
            width: 25.07vw;
            height: auto;
            position: absolute;
            top: 102.47vw;
            left: 14.13vw;
            z-index: 100;
        }

        .homeApps {
            position: relative;
            z-index: 10;

            p {
                text-align: center;
            }

            .p1 {
                font-family: Outfit;
                font-weight: bold;
                font-size: 8.53vw;
                color: #333132;
                font-style: normal;
                text-transform: none;
            }

            .p2 {
                font-family: Outfit;
                font-weight: 400;
                font-size: 4vw;
                color: #333132;
                line-height: 4vw;
                text-align: center;
                font-style: normal;
                text-transform: none;
                width: 55.2vw;
                margin-top: 2.67vw;
                margin-bottom: 4vw;
            }

            .num-block {
                margin-bottom: 5.87vw;

                .span1 {
                    font-family: Outfit;
                    font-weight: 400;
                    font-size: 2.67vw;
                    color: #333132;
                    line-height: 2.67vw;
                    text-align: center;
                    font-style: normal;
                    text-transform: none;
                    margin-right: 2.93vw;
                }

                .line {
                    height: 5.87vw;
                    width: 1px;
                    background-color: #A5A5A5;
                    margin: 0 2.67vw;
                }

                .span2 {
                    font-family: Outfit;
                    font-weight: bold;
                    font-size: 5.33vw;
                    color: #0052FE;
                    line-height: 5.33vw;
                    text-align: center;
                    font-style: normal;
                    text-transform: none;
                }
            }

            .exBtn {

                width: 83.47vw;
                height: 14.4vw;
                background: #0052FE;
                border-radius: 8vw;

                font-family: Outfit;
                font-weight: bold;
                font-size: 5.33vw;
                color: #FFFFFF;
                text-align: center;
                font-style: normal;
                text-transform: none;
                margin-bottom: 4.57vw;
            }
        }

        .box_1 {
            width: 100vw;

            .group_2 {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
                height: auto;
                width: 89.33vw;
                margin: 0 auto;
                margin-top: 9.87vw;
                padding: 5.87vw 4.53vw;

                .section_7 {

                    .text_10 {
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 5.33vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                    }

                    .label_2 {
                        width: 9.33vw;
                        height: 9.33vw;
                        cursor: pointer;
                    }
                }

                .section_8 {
                    width: 100%;
                    // height: 7.3vw;
                    margin-top: 2.93vw;

                    .block_3 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 100%;
                        height: 26.67vw;
                        margin-bottom: 3.2vw;
                        padding: 4.53vw;

                        .image_4 {
                            width: 17.33vw;
                            height: 17.33vw;
                            border-radius: 1.33vw;
                            margin-right: 2.93vw;
                        }

                        .text-group_17 {


                            .text_11 {
                                overflow-wrap: break-word;
                                color: rgba(51, 49, 50, 1);
                                font-size: 3.73vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                            }

                            .text_12 {
                                width: 50.93vw;
                                min-height: 1.95vw;
                                overflow-wrap: break-word;
                                color: rgba(165, 165, 165, 1);
                                font-size: 2.67vw;
                                font-family: Outfit;
                                font-weight: 500;
                                text-align: left;
                                margin-top: 0.35vw;
                            }
                        }
                    }

                    .block_4 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;

                        .image-text_13 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_5 {
                                width: 4.52vw;
                                height: 4.52vw;
                            }

                            .text-group_18 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_13 {
                                    width: 4.8vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_14 {
                                    width: 16.25vw;
                                    height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    line-height: normal;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }
                }

                .section_9 {
                    width: 72.09vw;
                    height: 7.3vw;
                    margin: 1.18vw 0 2.7vw 2.56vw;

                    .block_6 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;

                        .image-text_14 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_6 {
                                width: 4.52vw;
                                height: 4.52vw;
                            }

                            .text-group_19 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_15 {
                                    width: 6.46vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_16 {
                                    width: 16.25vw;
                                    height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    line-height: normal;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }

                    .block_7 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;
                        margin-left: 1.25vw;

                        .image_7 {
                            width: 4.52vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;
                        }

                        .text-group_20 {
                            width: 16.25vw;
                            height: 3.27vw;
                            margin: 1.38vw 0.41vw 0 0.76vw;

                            .text_17 {
                                width: 3.13vw;
                                height: 0.98vw;
                                overflow-wrap: break-word;
                                color: rgba(51, 49, 50, 1);
                                font-size: 0.97vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 0.98vw;
                            }

                            .text_18 {
                                width: 16.25vw;
                                height: 1.95vw;
                                overflow-wrap: break-word;
                                color: rgba(165, 165, 165, 1);
                                font-size: 0.69vw;
                                font-family: Outfit;
                                font-weight: 500;
                                text-align: left;
                                line-height: normal;
                                margin-top: 0.35vw;
                            }
                        }
                    }

                    .block_8 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;
                        margin-left: 1.25vw;

                        .image-text_15 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_8 {
                                width: 4.52vw;
                                height: 4.52vw;
                            }

                            .text-group_21 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_19 {
                                    width: 5.07vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_20 {
                                    width: 16.25vw;
                                    height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    line-height: normal;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }
                }
            }

            .image_1 {
                width: 54.14vw;
                height: 16.27vw;
                margin: 13.6vw 0 0 22.93vw;
            }

            .box_2 {
                background-color: rgba(217, 217, 217, 1);
                border-radius: 40px;
                width: 89.34vw;
                height: 9.6vw;
                margin-left: 5.34vw;

                .image-text_1 {
                    width: 82.4vw;
                    height: 6.4vw;
                    margin: 1.6vw 0 0 2.13vw;

                    .label_1 {
                        width: 6.4vw;
                        height: 6.4vw;
                    }

                    .text-group_1 {
                        width: 74.67vw;
                        height: 100%;
                        overflow-wrap: break-word;
                        color: rgba(165, 165, 165, 1);
                        font-size: 4.26vw;
                        font-family: Outfit;
                        font-weight: normal;
                        text-align: left;
                        // white-space: nowrap;
                        line-height: normal;

                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 1;

                    }
                }
            }

            .box_3 {
                width: 89.34vw;
                height: 9.34vw;
                margin: 5.86vw 0 0 5.33vw;

                .text_1 {
                    width: 36.27vw;
                    height: 6.4vw;
                    overflow-wrap: break-word;
                    color: rgba(51, 49, 50, 1);
                    font-size: 6.4vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: normal;
                    margin-top: 1.34vw;
                }

                .label_2 {
                    width: 9.34vw;
                    height: 9.34vw;
                }
            }

            .image-wrapper_1 {
                height: 49.6vw;
                width: 89.34vw;
                margin: 2.93vw 0 0 5.33vw;
                border-radius: 5.33vw;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .box_4 {
                width: 89.34vw;
                height: 9.87vw;
                margin: 5.06vw 0 0 5.33vw;

                .text-group_2 {
                    width: 62.4vw;
                    height: 9.34vw;

                    .text_2 {
                        width: 30.4vw;
                        height: 5.34vw;
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 5.33vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: normal;
                    }

                    .text_3 {
                        width: 62.4vw;
                        height: 3.2vw;
                        overflow-wrap: break-word;
                        color: rgba(165, 165, 165, 1);
                        font-size: 2.66vw;
                        font-family: Outfit;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: normal;
                        margin-top: 0.8vw;
                    }
                }

                .image-wrapper_2 {
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 5px;
                    height: 9.34vw;
                    margin-top: 0.54vw;
                    width: 9.34vw;

                    .label_3 {
                        width: 6.4vw;
                        height: 6.4vw;
                        margin: 1.6vw 0 0 1.33vw;
                    }
                }
            }

            .box_5 {
                width: 89.34vw;
                height: 129.34vw;
                margin: 3.46vw 0 7.2vw 5.33vw;

                .box_6 {
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 10px;
                    width: 89.34vw;
                    height: 41.34vw;

                    .image-text_2 {
                        width: 73.07vw;
                        height: 17.34vw;
                        margin: 4.8vw 0 0 4.53vw;

                        .image_3 {
                            width: 17.34vw;
                            height: 17.34vw;
                            border-radius: 1.33vw;
                        }

                        .text-group_3 {
                            width: 53.07vw;
                            height: 16.27vw;
                            margin-top: 0.54vw;

                            .text_4 {
                                width: 24vw;
                                height: 3.74vw;
                                overflow-wrap: break-word;
                                color: rgba(51, 49, 50, 1);
                                font-size: 3.73vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                                line-height: normal;
                            }

                            .text_5 {
                                width: 53.07vw;
                                height: 10.67vw;
                                overflow-wrap: break-word;
                                color: rgba(165, 165, 165, 1);
                                font-size: 2.66vw;
                                font-family: Outfit;
                                font-weight: 500;
                                text-align: left;
                                line-height: normal;
                                margin-top: 1.87vw;
                            }
                        }
                    }

                    .group_1 {
                        width: 79.74vw;
                        height: 7.2vw;
                        margin: 4.8vw 0 4.53vw 4.8vw;
                        padding-top: 2.67vw;
                        border-top: 1px solid #EEEEEE;

                        .image-text_3 {
                            width: 26.14vw;
                            height: 6.4vw;

                            .label_4 {
                                width: 6.4vw;
                                height: 6.4vw;
                                margin-right: 1.6vw;
                            }

                            .text-group_4 {
                                overflow-wrap: break-word;
                                color: rgba(0, 82, 254, 1);
                                font-size: 3.73vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                                line-height: normal;
                            }
                        }

                        .text-wrapper_1 {
                            background-color: rgba(0, 82, 254, 1);
                            border-radius: 20px;
                            height: 7.2vw;
                            width: 21.07vw;

                            .text_6 {
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 4.26vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: center;
                                white-space: nowrap;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }

        .box_11 {
            background-color: rgba(51, 49, 50, 1);
            width: 100vw;
            // padding-bottom: 26.67vw;


            .box_12 {
                width: 89.34vw;
                height: 15.2vw;
                margin: 6.4vw 0 0 5.33vw;

                .text-group_8 {
                    width: 62.4vw;
                    height: 15.2vw;

                    .text_13 {
                        width: 32.54vw;
                        height: 5.34vw;
                        overflow-wrap: break-word;
                        color: rgba(238, 238, 238, 1);
                        font-size: 5.33vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: normal;
                    }

                    .text_14 {
                        width: 62.4vw;
                        height: 7.47vw;
                        overflow-wrap: break-word;
                        color: rgba(165, 165, 165, 1);
                        font-size: 2.66vw;
                        font-family: Outfit;
                        font-weight: 500;
                        text-align: left;
                        line-height: normal;
                        margin-top: 2.4vw;
                    }
                }

                .label_6 {
                    width: 9.34vw;
                    height: 9.34vw;
                    margin-top: 0.8vw;
                }
            }

            .box_13 {
                width: 83.47vw;
                margin-left: 5.34vw;

                .group_3 {
                    background-color: rgba(51, 49, 50, 1);
                    border-radius: 1.33vw;
                    height: 7.47vw;
                    border: 1px solid rgba(165, 165, 165, 1);
                    margin-right: 2.13vw;
                    margin-bottom: 1.6vw;


                    .text-wrapper_4 {
                        overflow-wrap: break-word;
                        font-size: 0;
                        font-family: Outfit;
                        font-weight: normal;
                        text-align: center;
                        white-space: nowrap;
                        line-height: normal;
                        padding: 1.6vw 2.67vw;

                        .text_15 {
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 4.26vw;
                            font-family: Outfit;
                            font-weight: normal;
                            text-align: center;
                            white-space: nowrap;
                            line-height: normal;
                        }

                        .text_16 {
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 4.26vw;
                            font-family: Outfit;
                            font-weight: 500;
                            text-align: center;
                            white-space: nowrap;
                            line-height: normal;
                        }

                        .text_17 {
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 4.26vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: center;
                            white-space: nowrap;
                            line-height: normal;
                            margin-left: 1.07vw;
                        }
                    }
                }

                .category_active {
                    background: #0052FE;
                    border-color: #0052FE;

                    span {
                        color: #fff;
                    }
                }
            }


            .box_15 {
                width: 89.34vw;
                margin: 5.06vw 0 0 5.33vw;

                .section_2 {
                    background-color: rgba(62, 62, 62, 1);
                    border-radius: 10px;
                    width: 89.34vw;
                    height: 41.34vw;
                    margin-bottom: 2.67vw;

                    .box_16 {
                        width: 73.07vw;
                        height: 17.34vw;
                        margin: 4.8vw 0 0 4.53vw;

                        .image_6 {
                            width: 17.34vw;
                            height: 17.34vw;
                            border-radius: 1.33vw;
                        }

                        .text-wrapper_10 {
                            width: 53.07vw;
                            height: 16.27vw;
                            margin-top: 0.54vw;

                            .text_33 {
                                width: 8.27vw;
                                height: 3.74vw;
                                overflow-wrap: break-word;
                                color: rgba(238, 238, 238, 1);
                                font-size: 3.73vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                                line-height: normal;
                            }

                            .text_34 {
                                width: 53.07vw;
                                height: 10.67vw;
                                overflow-wrap: break-word;
                                color: rgba(165, 165, 165, 1);
                                font-size: 2.66vw;
                                font-family: Outfit;
                                font-weight: 500;
                                text-align: left;
                                line-height: normal;
                                margin-top: 1.87vw;
                            }
                        }
                    }

                    .box_17 {
                        width: 79.74vw;
                        height: 7.2vw;
                        margin: 4.8vw 0 4.53vw 4.8vw;
                        padding-top: 2.67vw;
                        border-top: 1px solid #EEEEEE;

                        .image-text_6 {
                            width: 26.14vw;
                            height: 6.4vw;

                            .label_7 {
                                width: 6.4vw;
                                height: 6.4vw;
                                margin-right: 1.6vw;
                            }

                            .text-group_9 {
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 3.73vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                                line-height: normal;
                            }
                        }

                        .text-wrapper_11 {
                            background-color: rgba(0, 82, 254, 1);
                            border-radius: 5.33vw;
                            height: 7.2vw;
                            width: 21.07vw;

                            .text_35 {
                                overflow-wrap: break-word;
                                color: rgba(255, 255, 255, 1);
                                font-size: 4.26vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: center;
                                white-space: nowrap;
                                line-height: normal;
                            }
                        }
                    }
                }
            }

            .label_9 {
                width: 6.4vw;
                height: 6.4vw;
                margin: 3.46vw 0 0 46.66vw;
            }
        }

        .status_verify {
            background-color: #333132 !important;
        }

        .status_verify_black {
            background-color: #000 !important;
        }
    }

    .about {
        width: 100%;
        padding: 21.6vw 5.33vw 4.8vw;

        .tit {
            font-family: Outfit;
            font-weight: bold;
            font-size: 4.27vw;
            color: #FFFFFF;
            text-align: left;
            font-style: normal;
            text-transform: none;
            padding-bottom: 4.27vw;
            display: inline-block;
        }

        .item {
            font-family: Outfit;
            font-weight: 400;
            font-size: 4.27vw;
            color: #A5A5A5;
            padding: 4.27vw 0;
            border-top: 1px solid #D9D9D9;

            // img{
            //     height: 3.2vw;
            //     width: 2vw;
            // }

        }
    }
}